body {
    background: linear-gradient(
        150deg, 
        #13f0cf, 
        #6d016d,
        #220340,
        #220340,
        black
    );
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
h1 {
    position: fixed;
    bottom: 5%;
    padding: 20px;
    padding-right: 0px;
    font-size: 20px;
    color: #ffffe4;
    width: 100%;
    border-bottom: 1px dashed #fff;
}
.innerWrap {
    width: 100%;
    padding-top: 40px;
    position: relative;
    z-index: 10;
}
.progressWrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-color: #fff;
}
.bar {
    width: 0%;
    height: inherit;
    position: absolute;
    z-index: 100;
    background-color: #72f2da;
    transition: width 0.2s ease;
}
.textWrap {
    padding: 500px 0px 500px 20px;
}
.textWrap p {
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.textWrap img {
    width: 30%;
    display: block;
    margin: 0 auto;
}
.title {
    width: 100%;
    text-align: center;
    font-size: 32px;
}
.submarine {
    position: fixed;
    width: 200px;
    top: 20%;
    transform: translateX(0);
    transition: all 0.2s;
    z-index: 15;
}
.octo {
    width: 300px;
    position: fixed;
    bottom: -300px;
    right: 0;
    opacity: 0.4;
    z-index: 1;
    transition: all 0.2s;
}